/* body {
    
} */

.nav-container {
    /* background-color: rgb(8, 0, 42); */

    /* background-image: url("highway-animation.gif"); */
    /* background-color: rgb(67, 190, 235); */

    /* background-position: 20px; */
    /* background-position: 240px auto;  */
    background-position: 0% 24%;
    background-size: 100% auto;
    background-repeat:no-repeat;
    margin-top:0px;
    position: absolute;
    width:100%;
    border-bottom: 12px solid rgb(96, 96, 96);
}

.navbar {
    /* position:absolute; */
    /* position: relative;
    background: #2c3e50; */
}

nav {
	margin: 10px auto 0px;

	/* position: relative; */
	width: 590px;
	height: 36px;
	/* background-color: rgba(195, 6, 6, 0.4); */
	border-radius: 8px;
	font-size: 0;
    background: linear-gradient(to right, yellow 0%, yellow 50%, transparent 50%, transparent 100%) repeat-x left bottom;    
    background-size: 18px 1px; 
}
nav a {
	/* line-height: 50px; */
	height: 100%;
	font-size: 15px;
    line-height:15px;
	display: inline-block;
	position: relative;
	z-index: 1;
    /* z-index:0; */
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
    /* height: 100px; */
	top: 0;
	/* z-index: 0; */
    z-index: 0;
    /* z-index: 1; */
	transition: all .5s ease 0s;
	/* border-radius: 8px; */
    background-image: url("bus.png");
    background-size: 100% 100%;
    /* background-size: contain; */
}

a:nth-child(1) {
	width: 100px;
    color:rgb(2, 0, 0);
}
a:nth-child(1):hover, a:nth-child(3):hover, a:nth-child(5):hover{
    transform: scale(150%);
    text-shadow: 1px 1px 1px black; 
    color:white;
}

a:nth-child(2):hover, a:nth-child(4):hover {
    transform: scale(150%);
    text-shadow: 1px 0px 1px rgb(0, 0, 0); 
    color:rgb(255, 255, 255);
}

a:nth-child(2) {
	width: 110px;
}

a:nth-child(3) {
    font-size: 19px;
    color:rgb(2, 0, 0);
    padding-top:0px;
    
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
    color:rgb(2, 0, 0);
}
nav .nav-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	/* background-color: #1abc9c77; */
}
nav .nav-about, a:nth-child(2):hover~.animation {
	/* width: 110px; */
    width: 100px;
	/* left: 100px; */
    left: 105px;
	/* background-color: #e74c3c77; */
}
nav .nav-map, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	/* background-color: #3498db77; */
}
nav .nav-favorites, a:nth-child(4):hover~.animation {
	/* width: 160px; */
    width: 100px;
	/* left: 310px; */
    left: 340px;
	/* background-color: #9b59b677; */
}
nav .nav-profile, a:nth-child(5):hover~.animation {
	/* width: 120px; */
    width: 100px;
	left: 480px;
	/* background-color: #e67e2277; */
}

/* Moving background */
#scroll-container {
    width: 100vw;
    overflow: hidden;
    position: absolute; 
    /* position: relative; */
    top: 0;
    /* z-index: -1; */
    z-index:-1;
}

/* so that the images appear in the right order */
.nav-background {
    z-index: -3;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: rgb(238,174,202); */
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


#tree-1 {
    margin-top: 11px;
    height: 35px;
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -moz-animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
}

#tree-3 {
    margin-top: 11px;
    height: 35px;
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -moz-animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
    animation-delay: 5s;
}

#wc {
    margin-top: 11px;
    height: 35px;
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -moz-animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite;
    animation-delay: 10s;
}

#clouds-1 { 
    /* z-index: -2; */
    height: 25px;
    opacity: .7;
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -moz-animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 25s linear infinite;
    animation-delay:0s;
}

#clouds-2 { 
    /* z-index: -2; */
    opacity: .7;
    height: 25px;
    -moz-transform: translateX(100vw);
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
    -moz-animation: scroll 25s linear infinite;
    -webkit-animation: scroll 25s linear infinite;
    animation: scroll 25s linear infinite;
    animation-delay: 10s;
}


#scroll-container img {
    z-index: -1;
    /* position: absolute; */
	/* bottom:12px;
    right:0;
	z-index: 0; */

    /* margin-top: 10px;
    height: 35px; */
    /* position: absolute; */
    /* -moz-animation: scroll 15s linear infinite;
    -webkit-animation: scroll 15s linear infinite;
    animation: scroll 15s linear infinite; */
    
}
  
  @keyframes scroll {
    from {
      -moz-transform: translateX(100vw);
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    to {
      -moz-transform: translateX(-100vw);
      -webkit-transform: translateX(-100vw);
      transform: translateX(-100vw);
    }
  }