.app {
    height: 100%;
}

/* Theme Switch */
/* .css-j204z7-MuiFormControlLabel-root, .css-jzcd7z-MuiFormControlLabel-root {
    position: absolute;
    right: -15px !important;
    bottom: 0px !important;
} */

.page-container {
    position: absolute;
    margin-top: 57px; /* TO ACCOUNT FOR THE NAVBAR */
    height: calc(100% - 57px);
    width: 100%;
}